body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #333333;
    color: #fff;
    text-align: center;
    padding: 20px;
}

.pricing-plans {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px;
}

.plan {
    text-align: center;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
}

.price {
    font-size: 1.5em;
    color: rgb(55, 55, 245);
}

ul {
    list-style-type: none;
    padding: 0;
}

button {
    background-color: rgba(49, 49, 249, 0.862);
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #005;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
